.container--layout {
  padding: 0 67px;
}

.filters--layout {
  width: max-content;
}

.gallery {
  display: flex;
  justify-content: center;
}

.galleryItem--normal {
  flex-basis: 30% !important;
  max-width: unset !important;
  min-width: 30%;
}

.galleryTitle--layout {
  padding: 0 50px;
  text-transform: capitalize;
}

.filter,
.orderByButton,
.orderByText,
.filterPopupTitle {
  font-family: "Rubik", sans-serif;
}



.orderByButton {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 16px;
}

.orderByText,
.totalProductsMessage {
  color: var(--fonte-cor-normal) !important;
}

.orderByDropdown {
  width: fit-content;

}

.orderByOptionItem--selected,
.orderByOptionItem:hover {
  color: black;
}

.orderByOptionItem,
.filterPopupTitle,
.totalProducts--layout {
  color: var(--fonte-cor-normal) !important;
}

.orderByOptionsContainer {
  z-index: 998;
}

.filter__container {
  border-color: white;
}

:global(.vtex-checkbox__label) {
  color: white;
  font-family: "Rubik", sans-serif;
}

:global(.vtex-checkbox__line-container) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

:global(.vtex-checkbox__inner-container) {
  border-color: white;
}

.filters--layout {
  background-color: var(--rosa-installments);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 45px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10px !important;
}

.gallery .stackItem--fav-dinamic-background {
  display: block;
}

.filter__container--title,
.filter__container--priceRange {
  display: none;
}


/* vtex-search-result-3-x- */

/* .filterAvailable {
  background-color: var(--rosa-installments);
} */

.filterTitleSpan {
  margin: 5px 10px;
  color: white;
}


.filterTemplateOverflow {
  padding: 10px;
}

.caretIcon {
  color: rgb(201, 201, 201);
}

/* vtex-search-result-3-x-filterIsOpen */

.searchNotFoundOops {
  display: none !important;
}

@media screen and (max-width: 660px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .container--layout {
    padding: 0 37px;
  }

}

@media screen and (max-width: 460px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
